<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application>

        <!-- 服务声明 -->
        <service android:name=".floatOption" />
        <!-- 其他组件声明 -->
        <activity android:name=".SettingsFloatActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.settings.ACTION_MANAGE_OVERLAY_PERMISSION"/>
            </intent-filter>
        </activity>
    </application>

</manifest>